<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master :: site-head" />
<body>
<header th:replace="master :: site-header" />
<h2>Welcome!</h2>

<p>Welcome to Furry-years site. Our site is created for people who want's to know how old you will be, if you will be an animal.</p>

<p>We have a small (now) database with average lifetime of animals and certainly human.</p>

<p>The Furry-years application is designed to be as user-friendly. Use the links in the menu above to navigate and begin calculate. In the future there will be generator of userbar images for forums and social networks.</p>

<p>24.04.2012 There is &#945; version of our site on Zend Framework.</p>

<p>27.04.2012 There is &#946; version of our site. </p>

<p>30.03.2017 Start redevelopment &#945; version of our site over Spring boot. </p>
<footer th:replace="master :: site-footer" />
</body>
</html>